<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    </link>
    <link rel="stylesheet" hre="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-register.css" />
    <link rel="stylesheet" href="/css/styles-login.css" />


    <title>Registro - Juliana Moncada</title>
</head>

<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="logo-img">
                    <h1 href="/">
                        <a>
                            <img src="/images/logo-mercado-liebre.svg" class="img-fluid" alt="logo-mercado-liebre">
                        </a>
                    </h1>
                </div>

            </div>
            <div class="col-sm-4">
                <form class="d-flex" aling="right" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar productos, marcas y más..."
                        aria-label="Buscar productos"></input>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>

            </div>
            <div class="col-sm-4 
            " aling="center">
                <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>

        </div>
    </div>

    <!-- Menú navegación -->

    <div class="container-fluid" id="nav">
        <div class="row">
            <div class="col-sm-6" aling="left">
                <a> Todos los productos</a>
                <a> Ofertas </a>
                <a> Tiendas Oficiales </a>
                <a> Vender </a>
                <a> Ayuda </a>
            </div>
            <div class="col-sm-6" aling="right">
                <a> Creá tu cuenta <i class="fa-regular fa-id-card"></i> </a>
                <a> Ingresá <i class="fa-solid fa-right-to-bracket"></i> </a>
                <a> Mis compras <i class="fa-solid fa-basket-shopping"></i> </a>
            </div>
        </div>
    </div>

    <!-- Menú hamburguesa -->
    <div class="burger-menu " onclick="toggleMenu()">
        <i class="fas fa-bars bg-cyan "></i>
    </div>

</header>


<main>
    <div class="container-fluid">
        <div class="row" aling="center" id="form-register">
            <form action="/">

                <div class="fullName">
                    <label for="nameAndLastname"></label>
                    <input type="text" name="nameAndLastname" id="nameAndLastname" placeholder="Nombre y apellido"
                        required minlength="2" maxlength="30">
                </div>


                <div class="user">
                    <label for="userName"></label>
                    <input type="text" name="userName" id="userName" placeholder="Nombre de usuario" required
                        minlength="5" maxlength="12">
                </div>


                <div class="dateOfBirth">
                    <p>Fecha de nacimiento</p>
                    <input type="date" name="birthDate" value="dd/mm/yyyy" min="1900-01-01" max="2005-08-19">
                </div>


                <div class="adress">
                    <input type="text" name="homeAdress" id="homeAdress" placeholder="Domicilio" required minlength="2"
                        maxlength="30">
                </div>


                <div>
                    <label class="userProfile">
                        <p class="prof">Perfil del usuario</p>
                        <input type="radio" name="profile" value="buyer">
                        <p class="personBuyerSeller">Comprador</p>
                        <input type="radio" name="profile" value="seller">
                        <p class="personBuyerSeller">Vendedor</p>
                    </label>
                </div>


                <div>
                    <label class="preferences">
                        <p class="userInterest">Intereses</p>
                        <label class="prefSpace" for="option1"><input type="checkbox" id="preferences"
                                name="preferences" value="Electro"> Electro</label>
                        <label class="prefSpace" for="option1"><input type="checkbox" id="preferences"
                                name="preferences" value="Moda"> Moda</label>
                        <label class="prefSpace" for="option1"><input type="checkbox" id="preferences"
                                name="preferences" value="Hogar"> Hogar</label>
                        <label class="prefSpace" for="option1"><input type="checkbox" id="preferences"
                                name="preferences" value="Juguetería"> Juguetería</label>
                        <label class="prefSpace" for="option1"><input type="checkbox" id="preferences"
                                name="preferences" value="Vida sana"> Vida sana</label>
                    </label>

                </div>


                <div class="picture">
                    <input type="file" name="profilePicture" accept=".jpg">
                </div>

                <div class="pass">
                    <label for="passW"></label>
                    <input type="password" name="passW" id="passW" placeholder="Ingresá tu contraseña" required
                        minlength="5" maxlength="12">
                </div>

                <div class="pass">
                    <label for="passW"></label>
                    <input type="password" name="passW" id="passW" placeholder="Reingresá tu contraseña" required
                        minlength="5" maxlength="12">
                </div>


                <button class="tapToRegister" type="submit">Enviar</button>


                <button class="tapToReset" type="reset">Borrar</button>

            </form>

        </div>

        <section class="logUser">
            <a href="login.html">¿Ya tenés una cuenta? Ingresá aquí<i class="fa-solid fa-right-to-bracket"></i></a>
        </section>

    </div>


</main>

<footer>
    <footer class="footer">
        <div class="container-fluid">

            <div class="properties-footer">
                <div>
                    <div class="properties-icon"><i class="fa-solid fa-gift" style="color : #1259c3"></i></div>

                    <div class="text-footer">
                        <b>
                            <p>Pagá con tarjeta o en efectivo</p>
                        </b>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                            puntos de pago. ¡Y siempre es seguro!</p>
                    </div>

                </div>

                <div>
                    <div class="properties-icon"><i class="fa-solid fa-credit-card" style="color : #1259c3"></i></div>

                    <div class="text-footer">
                        <b>
                            <p>Envío gratis desde $ 2.500</p>
                        </b>
                        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                            productos. Es un beneficio de Mercado Puntos.</p>
                    </div>

                </div>

                <div>
                    <div class="properties-icon"><i class="fa-solid fa-user-shield" style="color : #1259c3"></i></div>

                    <div class="text-footer">
                        <b>
                            <p>Seguridad, de principio a fin</p>
                        </b>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                            porque estás siempre protegid@.</p>
                    </div>
                </div>

            </div>


            <div>
                <div class="text-cpr"><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></div>
            </div>

        </div>

    </footer>


</html>